In [1]:
from img2table.document import Image
from img2table.ocr import PaddleOCR
import pandas as pd
from pdf2image import convert_from_path
from PIL import Image as PIL_Image, ImageDraw
import io

In [2]:
# Dictionary for storing marks of each papers
my_dict = {'1a': [], '1b': [], '1c': [], '2a': [], '2b': [], '2c': [], '3a': [], '3b': [], '3c': [], '4a': [], '4b': [], '4c': [], '5a': [], '5b': [], '5c': [], '6a': [], '6b': [], '6c': [], '7a': [], '7b': [], '7c': [], '8a': [], '8b': [], '8c': [], '9a': [], '9b': [], '9c': [], '10a': [], '10b': [], '10c': [], '11a': [], '11b': [], '11c': [], '12a': [], '12b': [], '12c': []}

In [3]:
images = convert_from_path("D:/AJAYMON/AJAY/Programming/S6_Mini_Project/Codes/image to table/MP_pdf2.pdf") # change or give PDF name here
ext_dict = {}
for i in range(len(images)):
    img = images[i]
    _, height = img.size
    cropped_img = img.crop((150, height / 2 + 50, 1600, height - 300)) # left, top, right, bottom
    # cropped_img.save(f"D:/AJAYMON/AJAY/Programming/Auto_Excel_Mark_Entry/Codes/image to table/temp/ima{i}.jpg") # To save cropped image
    
    img_bytes=io.BytesIO()
    cropped_img.save(img_bytes, format='JPEG')
    img_bytes.seek(0)
    
    paddle_ocr = PaddleOCR(lang="en")

    doc = Image(img_bytes, dpi=200)
    extracted_tables = doc.extract_tables(ocr=paddle_ocr, implicit_rows=True, min_confidence=50)

    
    ############## ----------- UNCOMMENT THIS ONLY FOR SAVING TABLE IMAGE WITH RED OUTLINE ----------- ##############


    # # Load the image using PIL
    # img = PIL_Image.open(src) # comment this --------------------------------------------------

    # # Create a draw object
    # draw = ImageDraw.Draw(img) # comment this --------------------------------------------------

    # for table in extracted_tables:
    #     for row in table.content.values():
    #         for cell in row:
    #             draw.rectangle((cell.bbox.x1, cell.bbox.y1, cell.bbox.x2, cell.bbox.y2), outline="red", width=3)
                
    # img.save(f"D:/AJAYMON/AJAY/Programming/Auto_Excel_Mark_Entry/Codes/image to table/temp/img{i}_with_redlines{i}.jpg") # comment this --------------------------------------------------


    ############## ----------- UNCOMMENT THIS ONLY FOR SAVING TABLE IMAGE WITH RED OUTLINE ----------- ##############
    
    
    df = extracted_tables[0].df
    df = df.iloc[1:, 1:] # deleting first row and column
    df = df.drop(index=df.index[-1]) # remove the last row

    ## Flattening & adding marks to my_dict
    arr = df.to_numpy()
    flat = arr.flatten(order='F') # flattening column-wise
    
    cell_vals = [0 if item is None else item for item in flat] # Changing all None to 0 in mark cells

    flat_len = len(cell_vals)
    ext_dict[i+1] = flat_len

    print(i+1, "-", flat_len) # comment this --------------------------------------------------

    if flat_len == 36: # 36 is the total number of mark cells,  CHECK THIS ////////////////////////////////////////////////////////////////////////
        for key, value in zip(my_dict.keys(), cell_vals):
            my_dict[key].append(value) # Adding values to dictionary
    else:
        for key in my_dict.keys():
            my_dict[key].append(0) # Adding values to dictionary

1 - 36 cell val: [0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2 - 36 cell val: ['3', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, 0, '-', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3 - 36 cell val: ['3', 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, '5', 0, 0, '5', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, '3', 0, 0, '2', 0, 0]
4 - 36 cell val: ['3', 0, 0, '3', 0, 0, 'a', 0, 0, '3', 0, 0, 'a', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
5 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '5', 0, 0, 'S', 0, 0, 0, 0, 0, 0, 0, 0]
6 - 36 cell val: ['2', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '7', 0, 0, 0, 0, 0, 0, 0, 0, '9', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0]
7 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 'S', 0, 0, 0, 0, 0, 0, 0, 0, '7', 0, 0, 0, 0, 0, '6', 0, 0]
8 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'S', 0, 0, 0, 0, 0, '7', 0, 0]
9 - 36 cell val: ['3', 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
10 - 36 cell val: ['3', 0, 0, '&', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '4', 0, 0]
11 - 39 cell val: [0, 0, 0, '&', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '6', 0, 0, 0, 0, 0, 0, 0, 0, '0', 0, 0, 0, 0, 0, '4', 0, 0, '4', 0, 0]
12 - 33 cell val: ['3', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
13 - 36 cell val: [0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, '4', 0, 0, 0, 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
14 - 36 cell val: ['2', 0, 0, 0, 0, 0, '3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '7', 0, 0, '6', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
15 - 36 cell val: ['3', 0, 0, '23', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
16 - 36 cell val: [0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, '3', 0, 0]
17 - 36 cell val: ['3', 0, 0, 0, 0, 0, '3', 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, '7', 0, 0, 0, 0, 0, 'S', 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0]
18 - 36 cell val: ['2', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'a', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
19 - 36 cell val: ['3', 0, 0, 'a', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
20 - 36 cell val: ['3', 0, 0, '&', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, '-', 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0]
21 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'S', 0, 0, '4', 0, 0, 'S', 0, 0, 0, 0, 0, '3', 0, 0]
22 - 33 cell val: ['1', 0, 0, '&', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0]
23 - 33 cell val: [0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '5', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 'A', 0, 0]
24 - 36 cell val: ['3', 0, 0, '2', 0, 0, '2', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', 0, 0, 0, 0, 0, 0, 0, 0]
25 - 36 cell val: ['2', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'S', 0, 0, 0, 0, 0, 0, 0, 0, '5', 0, 0, 0, 0, 0, 0, 0, 0]
26 - 36 cell val: ['&', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
27 - 36 cell val: [0, 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, '6', 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 'S', 0, 0, 0, 0, 0, 0, 0, 0]
28 - 36 cell val: ['2', 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, '&', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
29 - 36 cell val: ['3', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, '3', 0, 0, '7', 0, 0, '6', 0, 0, 0, 0, 0, '6', 0, 0, '7', 0, 0, 0, 0, 0, 0, 0, 0]
30 - 36 cell val: ['3', 0, 0, '2', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
31 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, '3', 0, 0, 'S', 0, 0, 'S', 0, 0, '7', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0]
32 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, '3', 0, 0, '3', 0, 0, 'S', 0, 0, '4', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
33 - 36 cell val: ['3', 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
34 - 36 cell val: [0, 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, '&', 0, 0, '6', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '6', 0, 0, '5', 0, 0, 0, 0, 0]

In [4]:
print(my_dict)

{'1a': [0, '3', '3', '3', '3', '2', '3', '3', '3', '3', 0, 0, 0, '2', '3', 0, '3', '2', '3', '3', '3', 0, 0, '3', '2', '&', 0, '2', '3', '3', '3', '3', '3', 0], '1b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '1c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '2a': [0, 0, '3', '3', '3', '3', '3', '3', '2', '&', 0, 0, 0, 0, '23', 0, 0, '3', 'a', '&', '3', 0, 0, '2', 0, '3', '3', 0, 0, '2', '3', '3', '3', '3'], '2b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '2c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '3a': ['3', '3', '2', 'a', '3', '3', '3', '3', '2', '3', 0, 0, '2', '3', '3', '3', '3', '3', '3', '3', '3', 0, 0, '2', '3', '3', '3', '2', '3', '3', '3', '3', '3', '3'], '3b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '3c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '4a': [0, 0, 0, '3', 0, 0, '3', 0, 0, 0, 0, 0, '2', '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, '3', 0, 0], '4b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '4c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '5a': [0, 0, 0, 'a', 0, 0, '3', 0, 0, 0, 0, 0, 0, '3', 0, 0, '2', 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, '&', '3', 0, '3', '3', '2', '&'], '5b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '5c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '6a': ['4', '4', '5', 0, 0, '7', 0, 0, '2', 0, 0, 0, '4', 0, 0, 0, 0, 0, '2', '2', 0, 0, 0, 0, 0, '2', '6', 0, '7', 0, 'S', 'S', 0, '6'], '6b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '6c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '7a': [0, '-', '5', 0, 0, 0, 'S', 0, 0, 0, 0, 0, 0, 0, 0, 0, '7', 0, '2', '2', 0, 0, 0, 0, 'S', '3', '3', 0, '6', '3', 'S', '4', 0, 0], '7b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '7c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '8a': [0, 0, 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, '3', '7', 0, 0, 0, 'a', 0, 0, 'S', 0, 0, 0, 0, 0, '2', 0, 0, 0, '7', 0, '3', 0], '8b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '8c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '9a': [0, 0, '3', '3', '5', '9', 0, 0, 0, 0, 0, 0, '2', '6', 0, 0, 'S', 0, 0, '-', '4', 0, 0, 0, 0, 0, 0, 0, '6', 0, 0, 0, '3', 0], '9b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '9c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '10a': [0, 0, 0, 0, 'S', '2', '7', 'S', 0, 0, 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, 'S', 0, 0, '7', '5', 0, 'S', 0, '7', 0, 0, 0, 0, '6'], '10b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '10c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '11a': [0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, '2', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '5'], '11b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '11c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '12a': [0, 0, '2', 0, 0, 0, '6', '7', 0, '4', 0, 0, 0, 0, 0, '3', 0, 0, 0, 0, '3', 0, 0, 0, 0, 0, 0, 0, 0, 0, '2', 0, 0, 0], '12b': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], '12c': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [5]:
dict_df = pd.DataFrame(my_dict)

In [6]:
for column in dict_df.columns:
    if len(dict_df[column].unique()) == 1: # column contains the same value (1 value only) from start to end
        dict_df = dict_df.drop(column, axis=1) # Drop the column

In [7]:
# Dictionary to dataframe & it's preprocessing
# import numpy as np

# dict_df = pd.DataFrame(my_dict)

# dict_copy = dict_df

# col_name = dict_df.columns[(dict_df == 'None').all()] # finding the column with "None" word
# dict_df = dict_df.drop(col_name, axis=1) # delete the identified columns
# dict_df = dict_df.replace(to_replace="None", value=np.nan) # Replacing all "None" to NaN, which will be empty when converted to CSV

# valid_cols = dict_df.select_dtypes(include=np.number).columns # Select only the valid columns with numeric data types
# dict_df = dict_df.assign(sum=dict_df[valid_cols].sum(axis=1)) # create a new column "row_sum" with the sum of each row
# dict_df = dict_df.assign(Sum_more_than_50=dict_df.apply(lambda x: 'Error' if x['sum'] > 50 else '', axis=1)) # add a new column "error" with "Error" if row_sum is greater than 50

# dict_df = dict_df.dropna(axis=1, how='all')
# dict_df.fillna(0, inplace=True)

In [8]:
ext_dict

{1: 36,
 2: 36,
 3: 36,
 4: 36,
 5: 36,
 6: 36,
 7: 36,
 8: 36,
 9: 36,
 10: 36,
 11: 39,
 12: 33,
 13: 36,
 14: 36,
 15: 36,
 16: 36,
 17: 36,
 18: 36,
 19: 36,
 20: 36,
 21: 36,
 22: 33,
 23: 33,
 24: 36,
 25: 36,
 26: 36,
 27: 36,
 28: 36,
 29: 36,
 30: 36,
 31: 36,
 32: 36,
 33: 36,
 34: 36}

In [9]:
for key, value in ext_dict.items(): # for finding the papers with table detection error
    if value != 36:
        print(key, "-", value)

11 - 39
12 - 33
22 - 33
23 - 33

In [10]:
dict_df

   1a  2a 3a 4a 5a 6a 7a 8a 9a 10a 11a 12a
0   0   0  3  0  0  4  0  0  0   0   0   0
1   3   0  3  0  0  4  -  0  0   0   0   0
2   3   3  2  0  0  5  5  0  3   0   3   2
3   3   3  a  3  a  0  0  0  3   0   0   0
4   3   3  3  0  0  0  0  0  5   S   0   0
5   2   3  3  0  0  7  0  0  9   2   0   0
6   3   3  3  3  3  0  S  0  0   7   0   6
7   3   3  3  0  0  0  0  0  0   S   0   7
8   3   2  2  0  0  2  0  0  0   0   0   0
9   3   &  3  0  0  0  0  3  0   0   0   4
10  0   0  0  0  0  0  0  0  0   0   0   0
11  0   0  0  0  0  0  0  0  0   0   0   0
12  0   0  2  2  0  4  0  3  2   0   0   0
13  2   0  3  3  3  0  0  7  6   0   0   0
14  3  23  3  0  0  0  0  0  0   0   0   0
15  0   0  3  0  0  0  0  0  0   3   0   3
16  3   0  3  2  2  0  7  0  S   0   2   0
17  2   3  3  0  0  0  0  a  0   0   0   0
18  3   a  3  0  0  2  2  0  0   0   0   0
19  3   &  3  0  0  2  2  0  -   0   2   0
20  3   3  3  0  0  0  0  S  4   S   0   3
21  0   0  0  0  0  0  0  0  0   0   0   0
22  0   0  0  0  0  0  0  0  0   0   0   0
23  3   2  2  3  3  0  0  0  0   7   0   0
24  2   0  3  0  0  0  S  0  0   5   0   0
25  &   3  3  0  0  2  3  0  0   0   0   0
26  0   3  3  0  0  6  3  2  0   S   0   0
27  2   0  2  0  &  0  0  0  0   0   0   0
28  3   0  3  0  3  7  6  0  6   7   0   0
29  3   2  3  0  0  0  3  0  0   0   0   0
30  3   3  3  0  3  S  S  7  0   0   0   2
31  3   3  3  3  3  S  4  0  0   0   0   0
32  3   3  3  0  2  0  0  3  3   0   0   0
33  0   3  3  0  &  6  0  0  0   6   5   0

In [11]:
dict_df.to_csv("D:/AJAYMON/AJAY/Programming/S6_Mini_Project/Codes/image to table/36_cell_problem.csv", index=False)